<mat-drawer-container>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div class="example-sidenav-content">
            <button type="button" mat-icon-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <span class="example-spacer"></span>
          <span>Angular Storefront</span>
          <span class="example-spacer"></span>
          <button type="button" mat-icon-button *ngIf="cart.activeCart.length == 0"><mat-icon>shopping_cart</mat-icon></button>
          <button type="button" mat-icon-button *ngIf="cart.activeCart.length > 0" matBadge="{{cart.activeCart.length}}" matBadgeColor="warn" (click)="openCart()"><mat-icon>shopping_cart</mat-icon></button>
        </mat-toolbar-row>
      </mat-toolbar>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
<div class='row d-flex justify-content-around mx-0'>
  <div *ngFor='let product of activeProduct' class='col-lg-2 my-5'>
    <mat-card class="example-card">
      <img mat-card-image src="{{product.Image}}" alt="{{product.Name}}">
      <p>{{product.Name}}</p>
      <p>${{product.Price}}</p>
      <mat-card-actions>
        <button mat-button (click) = "addToCart(product.Id)">Add To Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</mat-drawer-container>