<mat-drawer-container>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Custom Toolbar</span>
          <div class="example-sidenav-content">
              <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
              </button>
            </div>
        </mat-toolbar-row>
      </mat-toolbar>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
    <app-store-front></app-store-front>
  </mat-drawer-container>